NODE_ENV=production
PORT=5000
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/pride-auto
JWT_SECRET=a_very_long_random_secret_64_chars
JWT_EXPIRES_IN=7d
FRONTEND_URL=https://prideautostore.in
EMAIL_USER=prideautostore@gmail.com
EMAIL_PASS=your_gmail_app_password
ADMIN_EMAIL=admin@prideautostore.in
